@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    overflow-x: hidden;
    overflow: hidden;
}
.outercontainer{
    height: 5850px;
    width: 100vw;
    background-color: rgb(20,21,24);
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(20,21,24);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(20,21,24);
    font-size: 13rem;
    /* font-size: 200px; */
    font-family: poppins;
    padding-left: 20px;
    line-height:200px;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: 0.3vw rgba(43, 46, 58, 0.3);
    position:fixed;
    z-index: 0;
}

.container .infoheading, .container .infopara{
    position: absolute;
    left: 100px;
    top: 200px;
    color: rgba(255, 255, 255, 0.5);
    font-family: poppins;
    font-size: 100px;
    z-index: 2;
}

.container .infopara{
    font-size: 20px;
    top: 350px;
    word-wrap: break-word;
    width: 1100px;
}
.container #contact{
    top: 3640px; /* 1720 difference*/
}

.container #contactParagraph{
    top: 3790px; /* 150 difference*/
}

.container #projects{
    top: 1920px;
}

.container #projectsParagraph{
    top: 2070px;
}

.container #lastly{
    top: 5360px;
}

.container #lastlyParagraph{
    top: 5510px;
}

.container .navcontainer{
    background-color: rgb(20,21,24);
    height: 100vh;
    width: 220px;
    position: absolute;
    right: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    z-index: 3;
    display: flex;
    align-items: center !important;
    justify-content: center; 
    flex-direction: column;
    position: fixed;
}

.navcontainer h1{
    font-family: poppins;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    margin-bottom: 60px;
}
.underline{
    width: 0px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    transition: width 0.2s;
}

footer{
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 5800px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Poppins;
}

.active1{
    width: 125px;
    height: 5px;
}
.active2{
    width: 165px;
    height: 5px;
}
.active3{
    width: 165px;
    height: 5px;
}
.active4{
    width: 120px;
    height: 5px;
}

.link{
    color: rgb(255, 255, 255, 0.5);
    text-decoration: none;
    transition: color 0.2s, text-shadow 0.2s;
}

.link:hover{
    color: rgba(122, 122, 122, 0.5);
    text-shadow: 0px 0px 10px black;
}

ul{
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 2070px;
    left: 100px;
    z-index: 3;
    flex-direction: column;
    height: 400px;
}

ul li{
    font-size: 30px;
    font-family: Poppins;
    margin-right: 50px;
}

@media only screen and (max-width:1424px) {
    .container > h1{
        font-size: 10rem;
    }

    .container .infoheading{
        font-size: 5rem;
    }

    .container .infopara{
        width: 1000px;
    }
}

@media only screen and (max-width:1197px) {
    .container > h1{
        font-size: 8rem;
    }

    .container .infopara{
        width: 700px;
        top: 250px;
    }

    .container .infoheading{
        font-size: 3rem;
        top: 150px;
    }
}

@media only screen and (max-width:783px){
    .container .infopara{
        width: 500px;
    }
    .container .navcontainer{
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0px;
    }
    .outercontainer{
        width: 1000px;
    }
    .container > h1{
        margin-top: 125px;
    }
}

@media only screen and (max-width:215px){
    .container .infopara{
        top: 500px;
        font-size: 40px;
    }
    .container .infoheading{
        top: 250px;
    }

    .container .navcontainer{
        height: 1600px;
    }
}